src/WorkSrc/alcatel/work/facesweb/JavaSource/jadmin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="servers">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="server"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="server">
    <xsd:complexType>
      <xsd:attribute name="host" type="xsd:string"/>
      <xsd:attribute name="port" type="xsd:int"/>
      <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
