src/WorkSrc/alcatel/work/prjEJ_ProxyEJB/ejbModule/META-INF/wsdl/Invoker.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://dynproxy.ejb.hoshen" xmlns:impl="http://dynproxy.ejb.hoshen" xmlns:intf="http://dynproxy.ejb.hoshen" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://dynproxy.ejb.hoshen" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <element name="invokeResponse">
    <complexType>
     <sequence>
      <element name="invokeReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="invoke">
    <complexType>
     <sequence>
      <element name="className" nillable="true" type="xsd:string"/>
      <element name="methodName" nillable="true" type="xsd:string"/>
      <element name="params" nillable="true" type="xsd:string"/>
      <element name="args" nillable="true" type="xsd:string"/>
      <element name="identity" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="invokeRequest">
     <wsdl:part element="intf:invoke" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="invokeResponse">
     <wsdl:part element="intf:invokeResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:portType name="Invoker">
     <wsdl:operation name="invoke">
       <wsdl:input message="intf:invokeRequest" name="invokeRequest"/>

       <wsdl:output message="intf:invokeResponse" name="invokeResponse"/>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="InvokerSoapBinding" type="intf:Invoker">
 <wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>

     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="invoke">
       <wsdlsoap:operation soapAction="invoke"/>

       <wsdl:input name="invokeRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="invokeResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="InvokerService">
     <wsdl:port binding="intf:InvokerSoapBinding" name="Invoker">
       <wsdlsoap:address location="http://localhost:9081/prjEJ_ProxyWeb/services/Invoker"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>