src/WorkSrc/ness/workspace/FWPilotWeb/WebContent/WEB-INF/classes/config/dtd/controller_servlet.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by aa (aa) -->
<!--DTD generated by XMLSPY v2004 rel. 2 U (http://www.xmlspy.com)-->

<!-- Root elements -->

<!ELEMENT root (initialFlowName|applicationInitializationFlowName|applicationJspRootPath|systemJspRootPath|errorPage|reloadPage)*>


<!ELEMENT applicationInitializationFlowName EMPTY>
<!ATTLIST applicationInitializationFlowName
	value CDATA #REQUIRED
	defaultCountryLocale CDATA #REQUIRED
	defaultLanguageLocale CDATA #REQUIRED
>

<!ELEMENT initialFlowName EMPTY>
<!ATTLIST initialFlowName
	value CDATA #REQUIRED
>

<!ELEMENT applicationJspRootPath EMPTY>
<!ATTLIST applicationJspRootPath
	value CDATA #REQUIRED
>

<!ELEMENT systemJspRootPath EMPTY>
<!ATTLIST systemJspRootPath
	value CDATA #REQUIRED
>

<!ELEMENT errorPage EMPTY>
<!ATTLIST errorPage
	value CDATA #REQUIRED
>

<!ELEMENT reloadPage EMPTY>
<!ATTLIST reloadPage
	value CDATA #REQUIRED
>

<!ELEMENT rootPath EMPTY>
<!ATTLIST rootPath
	value CDATA #REQUIRED
	load (true | false) #REQUIRED
>

