src/WorkSrc/ness/workspace/FWPilotWeb/WebContent/WEB-INF/classes/config/dtd/system.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by aa (aa) -->
<!--DTD generated by XMLSPY v2004 rel. 2 U (http://www.xmlspy.com)-->

<!-- Root elements -->

<!ELEMENT root (flowerConfigRootPath|legacyConfigPath|flowerMenuPath|businessProcessConfigPath|systemConfigurationFiles|localizableConfigurationFiles|loggerConfigurationLocation|languageConfigFile|serversConfigFile|WorkFlowAgentConfig|systemResourcesPrefix)*>


<!ELEMENT flowerConfigRootPath (rootPath)*>

<!ELEMENT rootPath EMPTY>
<!ATTLIST rootPath
	value CDATA #REQUIRED
	load (true | false) #REQUIRED
>


<!ELEMENT flowerMenuPath (rootPath)*>


<!ELEMENT businessProcessConfigPath (rootPath)*>


<!ELEMENT legacyConfigPath (rootPath)*>


<!ELEMENT systemConfigurationFiles EMPTY>
<!ATTLIST systemConfigurationFiles
	value CDATA #REQUIRED
>

<!ELEMENT localizableConfigurationFiles EMPTY>
<!ATTLIST localizableConfigurationFiles
	value CDATA #REQUIRED
>

<!ELEMENT loggerConfigurationLocation EMPTY>
<!ATTLIST loggerConfigurationLocation
	value CDATA #REQUIRED
>

<!ELEMENT languageConfigFile EMPTY>
<!ATTLIST languageConfigFile
	value CDATA #REQUIRED
>

<!ELEMENT serversConfigFile EMPTY>
<!ATTLIST serversConfigFile
	value CDATA #REQUIRED
>

<!ELEMENT WorkFlowAgentConfig EMPTY>
<!ATTLIST WorkFlowAgentConfig
	agentType CDATA #REQUIRED
	agentName CDATA #REQUIRED
>

<!ELEMENT systemResourcesPrefix EMPTY>
<!ATTLIST systemResourcesPrefix
	value CDATA #REQUIRED
>