src/WorkSrc/alcatel/work/myweb/WebContent/WEB-INF/wsdl/WSBean.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices" xmlns:impl="http://webservices" xmlns:intf="http://webservices" xmlns:tns2="http://xml.apache.org/xml-soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://webservices" xmlns:intf="http://webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <complexType name="Item">
    <all>
     <element name="key" type="xsd:anyType"/>
     <element name="value" type="xsd:anyType"/>
    </all>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns2:Item"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://webservices" xmlns:intf="http://webservices" xmlns:tns2="http://xml.apache.org/xml-soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="execute">
    <complexType>
     <sequence>
      <element name="params" nillable="true" type="tns2:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="executeResponse">
    <complexType>
     <sequence>
      <element name="executeReturn" nillable="true" type="tns2:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="setData">
    <complexType>
     <sequence>
      <element name="data" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setDataResponse">
    <complexType>
     <sequence/>
    </complexType>
   </element>
   <element name="getData">
    <complexType>
     <sequence/>
    </complexType>
   </element>
   <element name="getDataResponse">
    <complexType>
     <sequence>
      <element name="getDataReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="setDataResponse">

      <wsdl:part element="impl:setDataResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getDataRequest">

      <wsdl:part element="impl:getData" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="setDataRequest">

      <wsdl:part element="impl:setData" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="executeRequest">

      <wsdl:part element="impl:execute" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getDataResponse">

      <wsdl:part element="impl:getDataResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="executeResponse">

      <wsdl:part element="impl:executeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="WSBean">

      <wsdl:operation name="execute">

         <wsdl:input message="impl:executeRequest" name="executeRequest"/>

         <wsdl:output message="impl:executeResponse" name="executeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setData">

         <wsdl:input message="impl:setDataRequest" name="setDataRequest"/>

         <wsdl:output message="impl:setDataResponse" name="setDataResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getData">

         <wsdl:input message="impl:getDataRequest" name="getDataRequest"/>

         <wsdl:output message="impl:getDataResponse" name="getDataResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSBeanSoapBinding" type="impl:WSBean">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="execute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="executeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSBeanService">

      <wsdl:port binding="impl:WSBeanSoapBinding" name="WSBean">

         <wsdlsoap:address location="http://localhost:9080/myweb/services/WSBean"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
