src/WorkSrc/igsi/mataf/MatafServer/Web Content/dtd/dsefmts.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT dsefmts.xml (fmtDef)+>

<!ELEMENT fmtDef ((ldapRequest | fTypedData | constant | fTime | fInteger | fBinIntString | fBoolean | fNumString | fDate | fPacked | fObject | fString | fpString | fHostString | fString | fPackedDate | fFloat | hashtable | dRecord | fpRecord | fdXML | record | jxfsForm | mapper | mapperConverter | record | fXML | iCollF | iCollF | hashtableIColl | ldapResponse | refFmt | map),(selfLength | delim | compress | maxLength | fixedLength | jxfsFieldLabel | codeSetTrans | id | nullCheck | fHostDecor)*)+>
<!ATTLIST fmtDef id ID #REQUIRED>

<!ELEMENT mapperConverter ((selfLength | delim | compress | maxLength | fixedLength | jxfsFieldLabel | codeSetTrans | id | nullCheck | fHostDecor)*,(ldapRequest | fTypedData | constant | fTime | fInteger | fBinIntString | fNumString | fDate | fPacked | fObject | fString | fpString | fHostString | fString | fPackedDate | fFloat | hashtable | dRecord | fpRecord | fdXML | record | jxfsForm | mapper | mapperConverter | record | fXML | iCollF | iCollF | hashtableIColl | ldapResponse | refFmt | map)*,(map)*)*>
<!ATTLIST mapperConverter 
    implClass CDATA #IMPLIED
    dataName IDREF #IMPLIED
    emptyKeyedCollection CDATA "true"
>

<!ELEMENT fTypedData EMPTY>
<!ATTLIST fTypedData 
     dataName IDREF #REQUIRED
     implClass CDATA #IMPLIED
     conversionType CDATA #IMPLIED
>

<!ELEMENT codeSetTrans EMPTY>
<!ATTLIST codeSetTrans
	to CDATA "Cp037"
>

<!ELEMENT compress EMPTY>

<!ELEMENT constant EMPTY>
<!ATTLIST constant 
    implClass CDATA #IMPLIED
    value CDATA #REQUIRED
>

<!ELEMENT delim EMPTY>
<!ATTLIST delim
	delimChar CDATA "+"
>

<!ELEMENT dRecord ((selfLength | delim | compress | maxLength | fixedLength | jxfsFieldLabel | codeSetTrans | id | nullCheck | fHostDecor)*,(ldapRequest | fTypedData | constant | fTime | fInteger | fBinIntString | fNumString | fDate | fPacked | fObject | fString | fpString | fHostString | fString | fPackedDate | fFloat | hashtable | dRecord | fpRecord | fdXML | record | jxfsForm | mapper | mapperConverter | record | fXML | iCollF | iCollF | hashtableIColl | ldapResponse | refFmt | map)*)*>
<!ATTLIST dRecord 
    implClass CDATA #IMPLIED
    dataName IDREF #IMPLIED
    emptyKeyedCollection CDATA "false"
>

<!ELEMENT fBinIntString EMPTY>
<!ATTLIST fBinIntString 
    unformattedSize CDATA "0"
    implClass CDATA #IMPLIED
    dataName IDREF #REQUIRED
    size CDATA "int"
    signRule (no |yes ) "no"
    byteOrdering (host |pc ) "pc"
    padChar CDATA "0"
>

<!ELEMENT fDate EMPTY>
<!ATTLIST fDate 
    dataName CDATA #REQUIRED
    implClass CDATA #IMPLIED
    sep CDATA "/"
    fourDigYear (no |yes ) "no"
    useSep (no |yes ) "yes"
    ordering (dmy |mdy |ymd ) "dmy"
>

<!ELEMENT fdXML ((pointer)*)*>
<!ATTLIST fdXML 
     implClass CDATA #IMPLIED
     dataName IDREF #IMPLIED
     kCollInsertedOnFormat (no | yes) "no"
     createKCollOnUnformat (no | yes) "no"
>

<!ELEMENT fFloat EMPTY>
<!ATTLIST fFloat 
     dataName IDREF #REQUIRED
     implClass CDATA #IMPLIED
     size (double |float ) "double"
     byteOrdering (host |pc ) "pc"
>

<!ELEMENT fHostDecor EMPTY>

<!ELEMENT fHostString EMPTY>
<!ATTLIST fHostString 
    implClass CDATA #IMPLIED
    dataName CDATA #REQUIRED
    formatAs (asis |lowercase |uppercase ) "asis"
    unformatAs (asis |lowercase |uppercase ) "asis"
>

<!ELEMENT fInteger EMPTY>
<!ATTLIST fInteger 
     dataName IDREF #REQUIRED
     implClass CDATA #IMPLIED
     signRule (no | yes) "no"
     size CDATA "int"
     byteOrdering (host | pc) "pc"
>

<!ELEMENT fixedLength EMPTY>
<!ATTLIST fixedLength
	noEmpty (yes | no) "no"
	length CDATA "0"
	justify (left | center | right) "left"
	padChar CDATA " "
>

<!ELEMENT fNumString EMPTY>
<!ATTLIST fNumString 
    showThousandsSep (no |yes ) "yes"
    dataName CDATA #REQUIRED
    signRule (parenthesis |prefix |suffix ) "prefix"
    decimalsSepChars CDATA "."
    thousandsSepChar CDATA ","
    implClass CDATA #IMPLIED
    showDecimalsSep (no | yes) "yes"
    decPlaces CDATA "0"
    usePositiveSign (yes |blank |no ) "no"
>

<!ELEMENT fObject EMPTY>
<!ATTLIST fObject 
    dataName CDATA #REQUIRED
    implClass CDATA #IMPLIED
    key CDATA #IMPLIED
>

<!ELEMENT fPacked EMPTY>
<!ATTLIST fPacked 
    dataName IDREF #REQUIRED
    implClass CDATA #IMPLIED
    signed (no | yes) "yes"
    decPlaces CDATA "0"
>

<!ELEMENT fPackedDate EMPTY>
<!ATTLIST fPackedDate 
     dataName IDREF #REQUIRED
     implClass CDATA #IMPLIED
>

<!ELEMENT fpRecord ((ldapRequest | fTypedData | constant | fTime | fInteger | fBinIntString | fNumString | fDate | fPacked | fObject | fString | fpString | fHostString | fString | fPackedDate | fFloat | hashtable | dRecord | fpRecord | fdXML | record | jxfsForm | mapper | mapperConverter | record | fXML | iCollF | iCollF | hashtableIColl | ldapResponse | refFmt | map)*)*>
<!ATTLIST fpRecord 
    implClass CDATA #IMPLIED
    dataName IDREF #IMPLIED
    formName CDATA #REQUIRED
    type CDATA #REQUIRED
>

<!ELEMENT fpString EMPTY>
<!ATTLIST fpString 
    implClass CDATA #IMPLIED
    dataName IDREF #REQUIRED
    formatAs (asis |lowercase |uppercase ) "asis"
    unformatAs (asis |lowercase |uppercase ) "asis"
>

<!ELEMENT fString EMPTY>
<!ATTLIST fString 
    formatAs (asis |lowercase |uppercase ) "asis"
    dataName CDATA #REQUIRED
    implClass CDATA #IMPLIED
    unformatAs (asis |lowercase |uppercase ) "asis"
>

<!ELEMENT fTime EMPTY>
<!ATTLIST fTime 
    dataName IDREF #REQUIRED
    implClass CDATA #IMPLIED
    hours (12 | 24) "24"
    sep CDATA ":"
    showSeconds (no |yes) "yes"
    pmString CDATA "pm"
    useSep (no |yes ) "yes"
    amString CDATA "am"
 >

<!ELEMENT fBoolean EMPTY>
<!ATTLIST fBoolean 
    dataName IDREF #REQUIRED
    implClass CDATA #IMPLIED
    useYN (no |yes ) "no"
>

<!ELEMENT fXML ((ldapRequest | fTypedData | constant | fTime | fInteger | fBinIntString | fNumString | fDate | fPacked | fObject | fString | fpString | fHostString | fString | fPackedDate | fFloat | hashtable | dRecord | fpRecord | fdXML | record | jxfsForm | mapper | mapperConverter | record | fXML | iCollF | iCollF | hashtableIColl | ldapResponse | refFmt | map)*)*>
<!ATTLIST fXML 
    implClass CDATA #IMPLIED
    dataName IDREF #IMPLIED
    includeDataType CDATA "false"
    unNamed CDATA "true"
>

<!ELEMENT hashtable ((ldapRequest | fTypedData | constant | fTime | fInteger | fBinIntString | fNumString | fDate | fPacked | fObject | fString | fpString | fHostString | fString | fPackedDate | fFloat | hashtable | dRecord | fpRecord | fdXML | record | jxfsForm | mapper | mapperConverter | record | fXML | iCollF | iCollF | hashtableIColl | ldapResponse | refFmt | map)*,(selfLength | delim | compress | maxLength | fixedLength | jxfsFieldLabel | codeSetTrans | id | nullCheck | fHostDecor)*,(fObject)*)*>
<!ATTLIST hashtable 
    dataName IDREF #IMPLIED
    implClass CDATA #IMPLIED
>

<!ELEMENT hashtableIColl ((hashtable))+>
<!ATTLIST hashtableIColl 
    dataName IDREF #REQUIRED
    implClass CDATA #IMPLIED
    times CDATA "*"
>


<!ELEMENT iCollF ((ldapRequest | fTypedData | constant | fTime | fInteger | fBinIntString | fNumString | fDate | fPacked | fObject | fString | fpString | fHostString | fString | fPackedDate | fFloat | hashtable | dRecord | fpRecord | fdXML | record | jxfsForm | mapper | mapperConverter | record | fXML | iCollF | iCollF | hashtableIColl | ldapResponse | refFmt | map),(selfLength | delim | compress | maxLength | fixedLength | jxfsFieldLabel | codeSetTrans | id | nullCheck | fHostDecor)*)+>
<!ATTLIST iCollF 
     append (false |ignore |true ) "ignore"
     dataName CDATA #REQUIRED
     implClass CDATA #IMPLIED
     times CDATA "1"
>

<!ELEMENT id EMPTY>
<!ATTLIST id
	idChar CDATA " "
>

<!ELEMENT jxfsFieldLabel EMPTY>
<!ATTLIST jxfsFieldLabel
	value CDATA #REQUIRED
>

<!ELEMENT jxfsForm ((selfLength | delim | compress | maxLength | fixedLength | jxfsFieldLabel | codeSetTrans | id | nullCheck | fHostDecor)*,(ldapRequest | fTypedData | constant | fTime | fInteger | fBinIntString | fNumString | fDate | fPacked | fObject | fString | fpString | fHostString | fString | fPackedDate | fFloat | hashtable | dRecord | fpRecord | fdXML | record | jxfsForm | mapper | mapperConverter | record | fXML | iCollF | iCollF | hashtableIColl | ldapResponse | refFmt | map)*)*>
<!ATTLIST jxfsForm 
    dataName IDREF #IMPLIED
    implClass CDATA #IMPLIED
    emptyKeyedCollection CDATA "true"
>

<!ELEMENT ldapRequest ((map)+)+>
<!ATTLIST ldapRequest 
    implClass CDATA #IMPLIED
    requestType (create |destroy |getattributes |list |listbindings |lookup |modify |search ) "list"
    filterType (attributes |expression |value ) "value"
>

<!ELEMENT ldapResponse ((map)+)+>
<!ATTLIST ldapResponse 
    implClass CDATA #IMPLIED
    responseType (create |destroy |getattributes |list |listbindings |lookup |modify |search ) "list"
    id ID #REQUIRED
>

<!ELEMENT map ((mapping | mod)*,(mod)*,(ldapRequest | fTypedData | constant | fTime | fInteger | fBinIntString | fNumString | fDate | fPacked | fObject | fString | fpString | fHostString | fString | fPackedDate | fFloat | hashtable | dRecord | fpRecord | fdXML | record | jxfsForm | mapper | mapperConverter | record | fXML | iCollF | iCollF | hashtableIColl | ldapResponse | refFmt | map)*)*>
<!ATTLIST map 
    implClass CDATA #IMPLIED
    sourcePrefix CDATA #IMPLIED
    source CDATA #REQUIRED
    targetPrefix CDATA #IMPLIED
    target CDATA #REQUIRED
    id ID #IMPLIED
>

<!ELEMENT mapper ((selfLength | delim | compress | maxLength | fixedLength | jxfsFieldLabel | codeSetTrans | id | nullCheck | fHostDecor)*,(ldapRequest | fTypedData | constant | fTime | fInteger | fBinIntString | fNumString | fDate | fPacked | fObject | fString | fpString | fHostString | fString | fPackedDate | fFloat | hashtable | dRecord | fpRecord | fdXML | record | jxfsForm | mapper | mapperConverter | record | fXML | iCollF | iCollF | hashtableIColl | ldapResponse | refFmt | map)*)*>
<!ATTLIST mapper 
    dataName IDREF #IMPLIED
    implClass CDATA #IMPLIED
    emptyKeyedCollection CDATA "true"
>

<!ELEMENT mapping EMPTY>
<!ATTLIST mapping
	id ID #IMPLIED
	value CDATA #IMPLIED
	target CDATA #REQUIRED
	source CDATA #REQUIRED
>

<!ELEMENT maxLength EMPTY>
<!ATTLIST maxLength
	length CDATA "0"
>

<!ELEMENT mod EMPTY>
<!ATTLIST mod
	id ID #IMPLIED
	value CDATA #IMPLIED
	target CDATA #REQUIRED
	modcode (add | remove | replace) "add"
	source CDATA #REQUIRED
>

<!ELEMENT nullCheck EMPTY>

<!ELEMENT pointer EMPTY>
<!ATTLIST pointer
	dataName IDREF #REQUIRED
	context IDREF #REQUIRED
>

<!ELEMENT record ((selfLength | delim | compress | maxLength | fixedLength | jxfsFieldLabel | codeSetTrans | id | nullCheck | fHostDecor)*,(ldapRequest | fTypedData | constant | fTime | fInteger | fBinIntString | fBoolean | fNumString | fDate | fPacked | fObject | fString | fpString | fHostString | fString | fPackedDate | fFloat | hashtable | dRecord | fpRecord | fdXML | record | jxfsForm | mapper | mapperConverter | record | fXML | iCollF | iCollF | hashtableIColl | ldapResponse | refFmt | map)*)*>
<!ATTLIST record
   implClass CDATA #IMPLIED
   dataName IDREF #IMPLIED
   emptyKeyedCollection CDATA "true"
>

<!ELEMENT refFmt ((param)*)*>
<!ATTLIST refFmt 
    implClass CDATA #IMPLIED
    refId IDREF #REQUIRED
>

<!ELEMENT param EMPTY>
<!ATTLIST param 
    value CDATA #REQUIRED
    id ID #REQUIRED
>

<!ELEMENT selfLength EMPTY>
<!ATTLIST selfLength 
    size CDATA "1"
    lengthIncluded (no |yes ) "no"
    lengthRepresentation (hexa | string ) "hexa"
    byteOrdering (host |pc ) "pc"
>
