src/WorkSrc/igsi/mataf/MatafServer/Web Content/dtd/dsesrvce.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT dsesrvce.xml ((service | ApplicationTables | CheckReader | CICSConnector | CSClient | CSServer | CommunicationsPool | ITOCConnection | JXFSMsd | JXFSPrt | JDBCServicesConnectionManager | JDBCJournal | DummyDB2Journal | DB2Journal | JDBCStore | DB2Store | JDBCTable | DB2Table | MsreLANDP | LDAPService | NotesAccess | MQConnection | OTMAConnection | FormsPathPrint | JetFormPrint | SAPAccess | DummySAPAccess | Lu0Session | DummyLu0Session | Lu62Conversation | WOSADevice | ChequeMateReader | ProxyService | RefTablesClientService | JdbcConnectionService | RefTablesService | MsgsHandlerService | MsgsTable | UuidService | UuidService | MatafJournalService | Monitor)+)>

<!ELEMENT ApplicationTables ((table)*)*>
<!ATTLIST ApplicationTables 
    changesControl CDATA "false"
    inMemoryUserid CDATA "sa"
    classNameForTableMemoryCreation CDATA "com.ibm.dse.services.appltables.ApplicationTables"
    externalPassword CDATA #IMPLIED
    loadAllTables CDATA "false"
    externalJDBCDriver CDATA #IMPLIED
    inMemoryURL CDATA "jdbc:HypersonicSQL:."
    inMemoryJDBCDriver CDATA #IMPLIED
    classNameForTableAccess CDATA "com.ibm.dse.services.appltables.ApplicationTables"
    id ID #REQUIRED
    classNameForTableLoad CDATA "com.ibm.dse.services.appltables.ApplicationTables"
    language CDATA #IMPLIED
    implClass CDATA #IMPLIED
    externalSourceURL CDATA #IMPLIED
    enterprise CDATA #IMPLIED
    searchRemotelly CDATA "false"
    externalUserid CDATA #IMPLIED
    inMemoryPassword CDATA #IMPLIED
>

<!ELEMENT CheckReader EMPTY>
<!ATTLIST CheckReader 
    id ID #REQUIRED
    checkLink (no |yes ) "yes"
    port (1 |2 |3 |4 ) "1"
    baudRate CDATA "9600"
    parity (even |none |odd ) "even"
    trace (no |yes ) "no"
    reset (no |yes ) "yes"
    timeout CDATA "11000"
    implClass CDATA #IMPLIED
    stopBits (2 |1 ) "1"
    dataBits (7 |8 ) "7"
>

<!ELEMENT CICSConnector EMPTY>
<!ATTLIST CICSConnector 
    serverName CDATA #REQUIRED
    gatewayName CDATA #REQUIRED
    id ID #REQUIRED
    gatewayPort CDATA #IMPLIED
    establishSessionRetries CDATA #IMPLIED
    codePage CDATA #IMPLIED
    automaticConnectionEstablishment (disabled |enabled ) "disabled"
    commAreaLength CDATA #REQUIRED
    userId CDATA #IMPLIED
    programName CDATA #REQUIRED
    timeBetweenRetries CDATA #IMPLIED
    synchronousMode (disabled |enabled ) "disabled"
    implClass CDATA #IMPLIED
    password CDATA #IMPLIED
    transactionId CDATA #REQUIRED
>

<!ELEMENT column EMPTY>
<!ATTLIST column
	id ID #REQUIRED
	dataName CDATA  #REQUIRED
>

<!ELEMENT CommunicationsPool ((service | MQListener | GenericPoolService | CICSConnector | CheckReader | ITOCConnection | JDBCServicesConnectionManager | JetFormPrint | FormsPathPrint | SAPAccess | DummySAPAccess | Lu0Session | DummyLu0Session | CSClient | LDAPService | OTMAConnection | MQConnection | JDBCJournal | DB2Journal | DummyDB2Journal | JDBCStore | DB2Store | JDBCTable | DB2Table | NotesAccess | Lu62Conversation | CommunicationsPool | ApplicationTables | MsreLANDP | CSServer | WOSADevice | JXFSPrt | JXFSMsd | JXFSChk)+)+>
<!ATTLIST CommunicationsPool 
     implClass CDATA #IMPLIED
     size CDATA #IMPLIED
     spare CDATA "0"
     maxPoolSize CDATA #IMPLIED
     timeBetweenRetries CDATA "2000"
     cleanupTime CDATA "0"
     identicalElements CDATA #REQUIRED
     id ID #REQUIRED
>

<!ELEMENT MQListener EMPTY>
<!ATTLIST MQListener 
     hostName CDATA #IMPLIED
     id ID #REQUIRED
     QMgrName CDATA #REQUIRED
     port CDATA "1414"
     waitInterval CDATA #IMPLIED
     receiveToQ CDATA #REQUIRED
     receiveToQOpenOptions CDATA #IMPLIED
     getMessageOptions CDATA #IMPLIED
     channel CDATA #IMPLIED
     serverOrClient (client |server ) "server"
     timeBetweenRetries CDATA #IMPLIED
     sendToQ CDATA #REQUIRED
     implClass CDATA #IMPLIED
     establishConnectionRetries CDATA "0"
     sendToQOpenOptions CDATA #IMPLIED
>

<!ELEMENT GenericPoolService EMPTY>
<!ATTLIST GenericPoolService 
     implClass CDATA #IMPLIED
     className CDATA #IMPLIED
     serviceName CDATA #IMPLIED
     maxPoolSize CDATA #IMPLIED
     initialSize CDATA #IMPLIED
     timeBetweenRetries CDATA "2000"
     cleanupTime CDATA "0"
     id ID #REQUIRED
>

<!ELEMENT JXFSChk EMPTY>
<!ATTLIST JXFSChk 
     stampFront (false |true ) "false"
     getImage (false |true ) "false"
     preOpenTimeout CDATA "60,000"
     pocket CDATA "0"
     sdmAddparm CDATA #IMPLIED
     jxfsIniConfig CDATA #IMPLIED
     deviceName CDATA #REQUIRED
     encodeFont CDATA #IMPLIED
     stampBack (false |true ) "false"
     endorseBack (false |true ) "false"
     id ID #REQUIRED
     sortOnly (false |true ) "false"
     stampY CDATA "0"
     stampX CDATA "0"
     endorseFront (false |true ) "false"
     implClass CDATA #IMPLIED
     endorseData CDATA #REQUIRED
     encodeData CDATA #IMPLIED
     workstationName CDATA #IMPLIED
     sdmName CDATA #IMPLIED
     configKey CDATA #IMPLIED
     syncTimeout CDATA "60,000"
     automaticOpen (false |true ) "false"
>

<!ELEMENT CSClient EMPTY>
<!ATTLIST CSClient 
    implClass CDATA #IMPLIED
    id ID #REQUIRED
>

<!ELEMENT CSServer EMPTY>
<!ATTLIST CSServer 
     implClass CDATA #IMPLIED
     timeBetweenSessionCheck CDATA #IMPLIED
     inactivityClientTimeout CDATA #IMPLIED
     id ID #REQUIRED
>

<!ELEMENT DB2Journal ((column)*)*>
<!ATTLIST DB2Journal 
    id ID #REQUIRED
    statementPoolSize CDATA "32"
    poolName CDATA #IMPLIED
    dataSourceName CDATA #IMPLIED
    schema CDATA #IMPLIED
    autoCommit CDATA "false"
    waitRetry CDATA "true"
    JDBCDriver CDATA "COM.ibm.db2.jdbc.net.DB2Driver"
    createSchema CDATA #IMPLIED
    sharedConnection CDATA #IMPLIED
    implClass CDATA #IMPLIED
>

<!ELEMENT DummyDB2Journal ((column)*)*>
<!ATTLIST DummyDB2Journal
	id ID #REQUIRED
	poolName CDATA #IMPLIED
	autoCommit CDATA "false"
	schema CDATA #IMPLIED
	JDBCDriver CDATA "COM.ibm.db2.jdbc.net.DB2Driver"
	waitRetry CDATA "true"
	dataSourceName CDATA #IMPLIED
	sharedConnection CDATA #IMPLIED
    statementPoolSize CDATA "32"
    createSchema CDATA #IMPLIED
    sharedConnection CDATA #IMPLIED
    implClass CDATA #IMPLIED
>

<!ELEMENT DummyLu0Session EMPTY>
<!ATTLIST DummyLu0Session 
    automaticSessionEstablishment (disabled |enabled ) "disabled"
    manageResponses (disabled |enabled ) "disabled"
    chaining (disabled |enabled ) "enabled"
    IDLength CDATA #IMPLIED
    testFile CDATA #IMPLIED
    fmhHeaderSent (disabled |enabled ) "disabled"
    hostApplicationName CDATA #IMPLIED
    synchronousMode (disabled |enabled ) "disabled"
    messageToLu (disabled |enabled ) "enabled"
    BIDManaged (disabled |enabled ) "disabled"
    establishSessionRetries CDATA #IMPLIED
    modeName CDATA #IMPLIED
    definiteResponseSolicited (disabled |enabled ) "disabled"
    id ID #REQUIRED
    luName CDATA #REQUIRED
    implClass CDATA #IMPLIED
    timeBetweenRetries CDATA #IMPLIED
    endBracketSent (disabled |enabled ) "disabled"
    defaultCodeSet CDATA "Cp037"
    compression (disabled |enabled ) "disabled"
>

<!ELEMENT DummySAPAccess ((RFCModule)+)*>
<!ATTLIST DummySAPAccess 
    hostName CDATA #IMPLIED
    id ID #REQUIRED
    rfcMode CDATA #REQUIRED
    systemNo CDATA #REQUIRED
    checkAuthorization CDATA "false"
    implClass CDATA #IMPLIED
    destination CDATA #IMPLIED
    jpbPackage CDATA "com.ibm.dse.samples.sap"
    systemName CDATA #IMPLIED
    loadBalancing CDATA "false"
    msgServer CDATA #IMPLIED
    groupName CDATA #IMPLIED
    gatewayHost CDATA #IMPLIED
    gatewayService CDATA #IMPLIED
>

<!ELEMENT DB2Store ((column)*)*>
<!ATTLIST DB2Store 
    id ID #REQUIRED
    statementPoolSize CDATA "32"
    poolName CDATA #IMPLIED
    dataSourceName CDATA #IMPLIED
    schema CDATA #IMPLIED
    autoCommit CDATA "false"
    waitRetry CDATA "true"
    JDBCDriver CDATA "COM.ibm.db2.jdbc.net.DB2Driver"
    singleTable CDATA "false"
    catalog CDATA #IMPLIED
    createSchema CDATA #IMPLIED
    sharedConnection CDATA #IMPLIED
    implClass CDATA #IMPLIED
    table CDATA #REQUIRED
>

<!ELEMENT DB2Table ((column)*)*>
<!ATTLIST DB2Table 
    databaseURL CDATA #IMPLIED
    password CDATA #IMPLIED
    dataSourceName CDATA #IMPLIED
    waitRetry CDATA "true"
    primaryKeys CDATA "true"
    catalog CDATA #IMPLIED
    createSchema CDATA #IMPLIED
    JDBCDriver CDATA "COM.ibm.db2.jdbc.net.DB2Driver"
    autoConnect CDATA "false"
    autoCommit CDATA "false"
    schema CDATA #IMPLIED
    id ID #REQUIRED
    statementPoolSize CDATA "32"
    sharedConnection CDATA #IMPLIED
    implClass CDATA #IMPLIED
    poolName CDATA #IMPLIED
    table CDATA #REQUIRED
    user CDATA #IMPLIED
>

<!ELEMENT docField EMPTY>
<!ATTLIST docField
	id ID #REQUIRED
	dataName CDATA #REQUIRED
>

<!ELEMENT exportParameter EMPTY>
<!ATTLIST exportParameter
	id ID #REQUIRED
	type CDATA #REQUIRED
>

<!ELEMENT FormsPathPrint EMPTY>
<!ATTLIST FormsPathPrint 
    serverName CDATA #IMPLIED
    id ID #REQUIRED
    filePath CDATA #IMPLIED
    jobsListQueueLength CDATA #IMPLIED
    requestNamedPipe CDATA #IMPLIED
    mode (file |pipe ) #REQUIRED
    commandNamedPipe CDATA #IMPLIED
    printerName CDATA #IMPLIED
    implClass CDATA #IMPLIED
>

<!ELEMENT importParameter EMPTY>
<!ATTLIST importParameter
	id ID #REQUIRED
	type CDATA #REQUIRED
>

<!ELEMENT ITOCConnection EMPTY>
<!ATTLIST ITOCConnection 
    password CDATA #IMPLIED
    userId CDATA #IMPLIED
    receiveOnlyTimeout CDATA #IMPLIED
    version CDATA #IMPLIED
    lterm CDATA #IMPLIED
    synchLevel (NONE |CONFIRM ) "NONE"
    synchronousMode (disabled |enabled ) "disabled"
    port CDATA #REQUIRED
    groupName CDATA #IMPLIED
    automaticACK (disabled |enabled ) "disabled"
    id ID #REQUIRED
    hostName CDATA #REQUIRED
    implClass CDATA #IMPLIED
    transaction CDATA #IMPLIED
    requestMFS (disabled |enabled ) "disabled"
    sendOnly (disabled |enabled ) "enabled"
    clientId CDATA #IMPLIED
    datastoreName CDATA #REQUIRED
    commitMode (0 | 1 ) "1"
>

<!ELEMENT JDBCJournal ((column)*)*>
<!ATTLIST JDBCJournal 
     id ID #REQUIRED
     statementPoolSize CDATA "32"
     poolName CDATA #IMPLIED
     dataSourceName CDATA #IMPLIED
     schema CDATA #IMPLIED
     autoCommit CDATA "false"
     waitRetry CDATA "true"
     JDBCDriver CDATA "COM.ibm.db2.jdbc.net.DB2Driver"
     createSchema CDATA #IMPLIED
     implClass CDATA #IMPLIED
     sharedConnection CDATA #IMPLIED
>

<!ELEMENT MatafJournalService ((column)*)*>
<!ATTLIST MatafJournalService 
     id ID #REQUIRED
     counterFieldName CDATA #REQUIRED
     counterDecimalFormat CDATA #REQUIRED
     inquireCounterFieldName CDATA #REQUIRED
     inquireCounterDecimalFormat CDATA #REQUIRED
     statementPoolSize CDATA "32"
     poolName CDATA #IMPLIED
     dataSourceName CDATA #IMPLIED
     schema CDATA #IMPLIED
     autoCommit CDATA "false"
     waitRetry CDATA "true"
     JDBCDriver CDATA "COM.ibm.db2.jdbc.net.DB2Driver"
     createSchema CDATA #IMPLIED
     implClass CDATA #IMPLIED
     sharedConnection CDATA #IMPLIED
>

<!ELEMENT JDBCServicesConnectionManager EMPTY>
<!ATTLIST JDBCServicesConnectionManager 
     implClass CDATA #IMPLIED
     poolManager CDATA "WebSphere3.0"
     connMgrClass CDATA #IMPLIED
     id ID #REQUIRED
>

<!ELEMENT JDBCStore ((column)*)*>
<!ATTLIST JDBCStore 
     id ID #REQUIRED
     statementPoolSize CDATA "32"
     poolName CDATA #IMPLIED
     dataSourceName CDATA #IMPLIED
     schema CDATA #IMPLIED
     autoCommit CDATA "false"
     waitRetry CDATA "true"
     JDBCDriver CDATA "COM.ibm.db2.jdbc.net.DB2Driver"
     catalog CDATA #IMPLIED
     singleTable CDATA "false"
     createSchema CDATA #IMPLIED
     implClass CDATA #IMPLIED
     sharedConnection CDATA #IMPLIED
     table CDATA #REQUIRED
>

<!ELEMENT JDBCTable ((column)*)*>
<!ATTLIST JDBCTable 
    databaseURL CDATA #IMPLIED
    password CDATA #IMPLIED
    dataSourceName CDATA #IMPLIED
    waitRetry CDATA "true"
    primaryKeys CDATA "true"
    catalog CDATA #IMPLIED
    createSchema CDATA #IMPLIED
    JDBCDriver CDATA "COM.ibm.db2.jdbc.net.DB2Driver"
    autoConnect CDATA "false"
    autoCommit CDATA "false"
    schema CDATA #IMPLIED
    id ID #REQUIRED
    statementPoolSize CDATA "32"
    sharedConnection CDATA #IMPLIED
    implClass CDATA #IMPLIED
    poolName CDATA #IMPLIED
    table CDATA #REQUIRED
    user CDATA #IMPLIED
>

<!ELEMENT JetFormPrint EMPTY>
<!ATTLIST JetFormPrint 
    implClass CDATA #IMPLIED
    printerName CDATA #IMPLIED
    pipeName CDATA #IMPLIED
    filePath CDATA #IMPLIED
    mode (file |pipe ) #REQUIRED
    id ID #REQUIRED
    serverName CDATA #IMPLIED
>

<!ELEMENT JXFSMsd EMPTY>
<!ATTLIST JXFSMsd 
    id ID #REQUIRED
    workstationName CDATA #IMPLIED
    preOpenTimeout CDATA "60,000"
    deviceName CDATA #REQUIRED
    syncTimeout CDATA "60,000"
    automaticOpen (false |true) "false"
    configKey CDATA #IMPLIED
    implClass CDATA #IMPLIED
    sdmAddparm CDATA #IMPLIED
    sdmName CDATA #IMPLIED
    jxfsIniConfig CDATA #IMPLIED
>

<!ELEMENT JXFSPrt EMPTY>
<!ATTLIST JXFSPrt 
    useAllFields (always |never |whenPossible ) "never"
    id ID #REQUIRED
    workstationName CDATA #IMPLIED
    preOpenTimeout CDATA "60,000"
    deviceName CDATA #REQUIRED
    syncTimeout CDATA "60,000"
    automaticOpen (false |true ) "false"
    configKey CDATA #IMPLIED
    implClass CDATA #IMPLIED
    sdmAddparm CDATA #IMPLIED
    sdmName CDATA #IMPLIED
    jxfsIniConfig CDATA #IMPLIED
>

<!ELEMENT LDAPService EMPTY>
<!ATTLIST LDAPService 
    implClass CDATA #IMPLIED
    factory CDATA #REQUIRED
    providerUrl CDATA #REQUIRED
    authMethod CDATA #IMPLIED
    authPrincipal CDATA #IMPLIED
    authCredentials CDATA #IMPLIED
    searchRoot CDATA #IMPLIED
    id ID #REQUIRED
>

<!ELEMENT Lu0Session EMPTY>
<!ATTLIST Lu0Session 
    automaticSessionEstablishment (disabled |enabled ) "disabled"
    manageResponses (disabled |enabled ) "disabled"
    chaining (disabled |enabled ) "enabled"
    fmhHeaderSent (disabled |enabled ) "disabled"
    hostApplicationName CDATA #IMPLIED
    synchronousMode (disabled | enabled) "disabled"
    messageToLu (disabled | enabled) "enabled"
    BIDManaged (disabled | enabled ) "disabled"
    establishSessionRetries CDATA #IMPLIED
    modeName CDATA #IMPLIED
    definiteResponseSolicited (disabled |enabled ) "disabled"
    id ID #REQUIRED
    luName CDATA #REQUIRED
    implClass CDATA #IMPLIED
    timeBetweenRetries CDATA #IMPLIED
    endBracketSent (disabled | enabled) "disabled"
    compression (disabled | enabled) "disabled"
    defaultCodeSet CDATA "Cp037"
    establishTimeout CDATA #IMPLIED
>

<!ELEMENT Lu62Conversation EMPTY>
<!ATTLIST Lu62Conversation 
     id ID #REQUIRED
     symbolicDestinationName CDATA #IMPLIED
     flushMode (disabled |enabled) "disabled"
     confirmMode (disabled |enabled) "disabled"
     automaticConversationEstablishment (disabled |enabled ) "disabled"
     LUName CDATA #IMPLIED
     outgoing (disabled |enabled ) "enabled"
     TpName CDATA #IMPLIED
     timeBetweenRetries CDATA #IMPLIED
     synchronousMode (disabled |enabled) "disabled"
     manageResponses (disabled |enabled) "disabled"
     establishConversationRetries CDATA #IMPLIED
     implClass CDATA #IMPLIED
>

<!ELEMENT MQConnection EMPTY>
<!ATTLIST MQConnection 
     replyToQOpenOptions CDATA #IMPLIED
     automaticConnectionEstablishment (disabled |enabled ) "disabled"
     userId CDATA #IMPLIED
     encoding CDATA #IMPLIED
     replyDynamicQ CDATA #IMPLIED
     replyToQ CDATA #IMPLIED
     synchronousMode (disabled |enabled) "disabled"
     expiry CDATA "MQC.MQEI_UNLIMITED"
     timeout CDATA #IMPLIED
     port CDATA "1414"
     putMessageOptions CDATA #IMPLIED
     charSet CDATA #IMPLIED
     applicationName CDATA #IMPLIED
     sendDynamicQ CDATA #IMPLIED
     messageType CDATA #IMPLIED
     messageOrCorrelation CDATA "true"
     id ID #REQUIRED
     serverOrClient (client |server) "server"
     QMgrName CDATA #REQUIRED
     sendModelQ CDATA #IMPLIED
     hostName CDATA #IMPLIED
     channelQ CDATA #IMPLIED
     sendToQ CDATA #IMPLIED
     implClass CDATA #IMPLIED
     replyModelQ CDATA #IMPLIED
     getMessageOptions CDATA #IMPLIED
     replyToQmgr CDATA #IMPLIED
     persistence CDATA #IMPLIED
     deadLetterQ CDATA #IMPLIED
     establishConnectionRetries CDATA #REQUIRED
     channel CDATA #IMPLIED
>

<!ELEMENT MsreLANDP EMPTY>
<!ATTLIST MsreLANDP 
     implClass CDATA #IMPLIED
     landpServerName CDATA "MSRE4701"
     id ID #REQUIRED
>

<!ELEMENT NotesAccess ((docField)*)*>
<!ATTLIST NotesAccess 
     implClass CDATA #IMPLIED
     automaticSessionEstablishment (disabled |enabled ) "enabled"
     verifyACL (disabled |enabled ) "disabled"
     database CDATA #IMPLIED
     server CDATA #IMPLIED
     id ID #REQUIRED
>

<!ELEMENT OTMAConnection EMPTY>
<!ATTLIST OTMAConnection 
     IMSModName CDATA #IMPLIED
     id ID #REQUIRED
     SAFgroupName CDATA #IMPLIED
     XCFgroupName CDATA #REQUIRED
     IMSMemberName CDATA #REQUIRED
     transaction CDATA #IMPLIED
     automaticConnectionEstablishment (disabled |enabled ) "disabled"
     XCFMemberName CDATA #REQUIRED
     numberOfResponseSegments CDATA "4"
     userId CDATA #IMPLIED
     LTERM  CDATA #IMPLIED
     TpipePrefix CDATA #REQUIRED
     implClass CDATA #IMPLIED
     receiveLength CDATA #IMPLIED
     sessions CDATA "10"
>

<!ELEMENT refService EMPTY>
<!ATTLIST refService
	refId IDREF #REQUIRED
	alias CDATA #IMPLIED
	type CDATA #IMPLIED
>

<!ELEMENT RFCModule ((importParameter)*,(exportParameter)*)*>
<!ATTLIST RFCModule
	id ID #REQUIRED
>

<!ELEMENT SAPAccess ((RFCModule)+)+>
<!ATTLIST SAPAccess 
    hostName CDATA #IMPLIED
    id ID #REQUIRED
    rfcMode CDATA #REQUIRED
    systemNo CDATA #REQUIRED
    checkAuthorization CDATA "false"
    implClass CDATA #IMPLIED
    destination CDATA #IMPLIED
    jpbPackage CDATA "com.ibm.dse.samples.sap"
    loadBalancing CDATA "false"
    systemName CDATA #IMPLIED
    msgServer CDATA #IMPLIED
    gatewayService CDATA #IMPLIED
    gatewayHost CDATA #IMPLIED
    groupName CDATA #IMPLIED
>

<!ELEMENT service EMPTY>
<!ATTLIST service 
    implClass CDATA #IMPLIED
    id ID #REQUIRED>

<!ELEMENT table ((tableColumn)*)*>
<!ATTLIST table 
     release CDATA #IMPLIED
     version CDATA #IMPLIED
     inMemory CDATA "true"
     enterprise CDATA "false"
     id ID #REQUIRED
     language CDATA "false"
>

<!ELEMENT tableColumn EMPTY>
<!ATTLIST tableColumn
	id ID #REQUIRED
	dataName IDREF #IMPLIED
	isKey CDATA "false"
	type CDATA #IMPLIED
>

<!ELEMENT WOSADevice EMPTY>
<!ATTLIST WOSADevice 
    implClass CDATA #IMPLIED
    traceLevel CDATA "0"
    SPMMinVersion CDATA "1.0"
    SPMMaxVersion CDATA "2.0"
    deviceType (dsewptr | dsewidc) "dsewptr"
    logicalName CDATA #REQUIRED
    timeout CDATA "0"
    id ID #REQUIRED
>

<!ELEMENT Monitor EMPTY>
<!ATTLIST Monitor
	id CDATA #REQUIRED
	layout CDATA "vertical">
	
<!ELEMENT ChequeMateReader EMPTY>
<!ATTLIST ChequeMateReader 
    id ID #REQUIRED
    checkLink (no |yes ) "yes"
    port (1 |2 |3 |4 ) "1"
    baudRate CDATA "9600"
    parity (even |none |odd ) "even"
    trace (no |yes ) "no"
    reset (no |yes ) "yes"
    timeout CDATA "11000"
    implClass CDATA #IMPLIED
    stopBits (2 |1 ) "1"
    dataBits (7 |8 ) "7"
>

<!ELEMENT ProxyService EMPTY>
<!ATTLIST ProxyService 
	id ID #REQUIRED
	sendPort CDATA #IMPLIED
	listenPort CDATA #IMPLIED
    sendHost CDATA #IMPLIED
    loadReceiver CDATA #IMPLIED
    parity CDATA #IMPLIED
>

<!ELEMENT RefTablesClientService EMPTY>
<!ATTLIST RefTablesClientService 
	id ID #REQUIRED
	refTables CDATA #IMPLIED
	loadAll CDATA #IMPLIED
>

<!ELEMENT RefTablesService EMPTY>
<!ATTLIST RefTablesService 
	id ID #REQUIRED
	loadAll CDATA #IMPLIED
	jdbcService CDATA #IMPLIED
>

<!ELEMENT JdbcConnectionService EMPTY>
<!ATTLIST JdbcConnectionService 
    id ID #REQUIRED
    JDBCDriver CDATA #IMPLIED
    autoCommit CDATA #IMPLIED
    autoConnect CDATA #IMPLIED
    password CDATA #IMPLIED
    primaryKeys CDATA #IMPLIED
    user CDATA #IMPLIED
    table CDATA #IMPLIED
    dataSourceName CDATA #IMPLIED
    databaseURL CDATA #IMPLIED
    jndiURL CDATA #IMPLIED
    useDatasource CDATA #IMPLIED
>

<!ELEMENT MsgsHandlerService ((MsgsTable)+)+>
<!ATTLIST MsgsHandlerService 
     id ID #REQUIRED
>

<!ELEMENT MsgsTable EMPTY>
<!ATTLIST MsgsTable 
     id ID #REQUIRED
     tableName CDATA #IMPLIED
     keyColumnName CDATA #IMPLIED
     msgDescColumnName CDATA #IMPLIED
>

<!ELEMENT UuidService EMPTY>
<!ATTLIST UuidService
	 id ID #REQUIRED
     jdbcService CDATA #IMPLIED
>



