src/WorkSrc/ws-lab/exercises/ex6-jaxb/message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by Ran Kornfeld (InterBit Training & Consulting) -->
<xs:schema targetNamespace="http://courses.ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="destination" type="xs:string"/>
				<xs:element name="subject" type="xs:string"/>
				<xs:element name="content" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
