src/WorkSrc/ness/workspace/FWEJB/ejbModule/ejbResources/config/languages/language.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by aa (aa) -->
<!--DTD generated by XMLSPY v2004 rel. 2 U (http://www.xmlspy.com)-->

<!-- Root elements -->

<!ELEMENT root ((defaultLanguage),(languageSet+))>

<!ELEMENT defaultLanguage EMPTY>
<!ATTLIST defaultLanguage
	language CDATA #REQUIRED
	country CDATA #IMPLIED
>

<!ELEMENT languageSet (definition*,copyDefFrom*) >
<!ATTLIST languageSet
	language CDATA #REQUIRED
	country CDATA #IMPLIED
>

<!ELEMENT definition EMPTY>
<!ATTLIST definition
	encoding CDATA #REQUIRED
	charset CDATA #REQUIRED
	direction CDATA #REQUIRED
	imagesDirectoryName CDATA #IMPLIED
	flagImage CDATA #IMPLIED
>

<!ELEMENT copyDefFrom EMPTY>
<!ATTLIST copyDefFrom
	fromLanguage CDATA #REQUIRED
	fromCountry CDATA #REQUIRED
>