src/WorkSrc/ness/workspace/FWPilotWeb/JavaSource/config/dtd/menu.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by aa (aa) -->
<!--DTD generated by XMLSPY v2004 rel. 2 U (http://www.xmlspy.com)-->

<!-- Root elements -->

<!ELEMENT root (menuGroup)*>

<!ELEMENT menuGroup (menuItem*)>
<!ATTLIST menuGroup
	name CDATA #REQUIRED
>

<!ELEMENT menuItem EMPTY>
<!ATTLIST menuItem
	id CDATA #REQUIRED
	flowName CDATA #REQUIRED
	openAs (normal | popup | dialog | newWindow) #REQUIRED
	shortDesc CDATA #REQUIRED
	shortCutKey CDATA #IMPLIED
	windowExtraParams CDATA #IMPLIED
>



